{% extends 'base.html' %}
{% load static %}

{% block title %}
{{cage.label}} Detail
{% endblock %}
{% block customCss %}
{% endblock %}
{% block customJs %}
{% endblock %}

{% block content %}
<div class="flex justify-between">
  <a href="{% url 'cages:list' %}" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 "><span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">Back to List of The Cages</span></a>
</div>
  <h1 class="text-left mb-5 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-4xl">{{ cage.label }}</h1>
  <div class="flex justify-start w-full flex-col lg:flex-row">
    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 lg:px-2.5 lg:py-0.5 py-3 my-0.5 rounded border border-green-400"><strong>Cage Color:</strong> {{ cage.color }}</span>
    <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 lg:px-2.5 lg:py-0.5 py-3 my-0.5 rounded border border-blue-400"><strong>Cage Material:</strong> {{ cage.material }}</span>
    <span class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 lg:px-2.5 lg:py-0.5 py-3 my-0.5 rounded border border-yellow-400"><strong>Cage Version:</strong> {{ cage.version }}</span>
    <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 lg:px-2.5 lg:py-0.5 py-3 my-0.5 rounded border border-purple-400"><strong>Cage Dimensions:</strong> {{ cage.dimensions }}</span>
    <span class="bg-pink-100 text-pink-800 text-xs font-medium mr-2 lg:px-2.5 lg:py-0.5 py-3 my-0.5 rounded border border-pink-400"><strong>Cage Created at:</strong> {{ cage.created_at }}</span>
  </div>
  
{% if cage_functionality.get_status_display == 'Bad' %}
    <div class="h-2.5 w-2.5 rounded-full bg-pink-500 mr-2"></div>
    <div class="text-pink-800 font-semibold">
{% elif cage_functionality.get_status_display == 'Ok' %}
    <div class="h-2.5 w-2.5 rounded-full bg-yellow-500 mr-2"></div>
    <div class="text-yellow-800 font-semibold">
{% elif cage_functionality.get_status_display == 'Perfect' %}
    <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div>
    <div class="text-green-800 font-semibold">
{% else %}
    <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>
    <div class="text-red-800 font-semibold">
{% endif %}

    {{cage_functionality.status}}
</div> 

{% if cage_analytical_today %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10 pt-3 pb-20">
    <table class="w-full text-sm text-left text-gray-500">
        <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white">
            {{cage.label}} Analytical Values for today
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Row Num
                </th>
                <th scope="col" class="px-6 py-3">
                    Cage Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Cage Time Taken
                </th>
                <th scope="col" class="px-6 py-3">
                    Created At
                </th>
            </tr>
        </thead>
        <tbody>
            {% for analytical in cage_analytical_today %}
            <tr class="bg-white border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{forloop.counter}}
                </th>
                <td class="px-6 py-4 flex items-center">
                    {% if analytical.get_status_display == 'Bad' %}
                        <div class="h-2.5 w-2.5 rounded-full bg-pink-500 mr-2"></div>
                        <div class="text-pink-800 font-semibold">
                    {% elif analytical.get_status_display == 'Ok' %}
                        <div class="h-2.5 w-2.5 rounded-full bg-yellow-500 mr-2"></div>
                        <div class="text-yellow-800 font-semibold">
                    {% elif analytical.get_status_display == 'Perfect' %}
                        <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div>
                        <div class="text-green-800 font-semibold">
                    {% else %}
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>
                        <div class="text-red-800 font-semibold">
                    {% endif %}
                    
                        {{analytical.get_status_display}}
                    </div>
                    
                </td>
                <td class="px-6 py-4">
                    {{analytical.time_taken}}
                </td>
                <td class="px-6 py-4">
                    {{analytical.created_at}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
